<div class="thumbnail widget-responsive">
	<div>
		<div class="gallery-result-image widget-responsive pull-right">
			<a data-dojo-attach-point="resultLinkNode" href="${_imageLink}" target="_blank">
				<img data-dojo-attach-point="resultImageNode" class="img-responsive" src="${_imageSrc}" alt="${_imageAlt}">
				<div data-dojo-attach-point="resultGlyphiconNode" class="gallery-result-type glyphicon" title="App"></div>
			</a>
		</div>
		<div class="btn-group open-details-grp">
				<div>	
					<a data-dojo-attach-point="resultOpenButtonNode" href="${_btnLink}" target="${_btnTarget}" class="btn btn-xl btn-primary gallery-btn" role="button">Open</a>
				</div>
				<div>
					<a data-dojo-attach-event="click:_openDetails" href="#" class="btn btn-xl btn-default gallery-btn" role="button">Details</a>
				</div>
		</div>
	</div>
	<div class="caption">
		<div class="gallery-result-info">
			<h3 class="gallery-result-title" data-dojo-attach-point="resultTitleNode">${_title}</h3>
			<p class="gallery-result-snippet" data-dojo-attach-point="resultTitleSnippet">${_snippet}</p>
		</div>
		<p></p>
	<div>
</div>
