<div>
	<div class="search-items">
		<ol class="breadcrumb">
			<li><a href="#" data-dojo-attach-event="click:_showHome">Home</a></li>
			<li class="active"><a href="#">Categories</a></li>
		</ol>
		<h3>Categories</h3>
		<ul id="container">
		</ul>
	</div>
	<div class="search-results hide">
		<ol class="breadcrumb">
			<li><a href="#" data-dojo-attach-event="click:_showHome">Home</a></li>
			<li><a href="#" data-dojo-attach-event="click:_showItems">Categories</a></li>
			<li class="active"><a href="#">Results</a></li>
		</ol>
	<div>
</div>