<div>
	<div class="search-items">
		<ol class="breadcrumb">
			<li><a href="#" data-dojo-attach-event="click:_showHomeClick">Home</a></li>
			<li class="active"><a href="#">Categories</a></li>
		</ol>
		<h3>Categories</h3>
		<ul class="search-item-container">
		</ul>
	</div>
	<div class="search-results hide">
		<ol class="breadcrumb">
			<li><a href="#" data-dojo-attach-event="click:_showHomeClick">Home</a></li>
			<li><a href="#" data-dojo-attach-event="click:_showItemsClick">Categories</a></li>
			<li class="active"><a href="#">Results</a></li>
		</ol>
		<div class="search-result-container">
		</div>
	<div>
</div>