<li>
	<div class="gallery-parameter clearfix">
		<div data-dojo-attach-point="parameterImageNode" class="gallery-parameter-image pull-left hide">
			<a href="#" data-dojo-attach-point="imageLinkNode" title="${title}" data-dojo-attach-event="click:_onClick">
				<img data-dojo-attach-point="imageNode" src="${imageUrl}" alt="${title}">
			</a>
		</div>
		<div class="gallery-parameter-title pull-left">
			<a href="#" data-dojo-attach-point="titleNode" data-dojo-attach-event="click:_onClick"
				title="${itemCount}">${innerText}</a>
		</div>
	</div>
</li>