<div>
	<div data-dojo-attach-point="searchItemsNode">
		<ol class="breadcrumb">
			<li><a href="#" data-dojo-attach-event="click:_showHomeClick">Home</a></li>
			<li class="active"><a href="#" data-dojo-attach-point="itemsBreadCrumbTitle">${title}</a></li>
		</ol>
		<h3 data-dojo-attach-point="itemsTitle">${title}</h3>
	</div>
	<div data-dojo-attach-point="searchResultsNode" class="hide">
		<ol class="breadcrumb">
			<li><a href="#" data-dojo-attach-event="click:_showHomeClick">Home</a></li>
			<li><a href="#" data-dojo-attach-point="resultsBreadCrumbTitle" data-dojo-attach-event="click:_showItemsClick">${title}</a></li>
			<li class="active"><a href="#">Results</a></li>
		</ol>
	<div>
</div>